<!doctype html>
<html>
<head>
    <title>This is the master page</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>
<body>
    <h2>This is the Layout page<br><br></h2>
    <div>
        @RenderBody()
    </div>
</body>
</html>